body{
	background: url('christmasbg.jpg') no-repeat center;
	background-size: justify-content: center;
	height: 100vh;
	/* text-align centers my children inside of me */
	text-align: center;
	/* margin auto centers me inside my parent */
	

}
#christmas{
	color: #ef021a;
}
h1{
	font-size: 40px;
	margin: 40px 0px 0px;
	color: #27ea00;
}

#timer-div{
	display: inline-block;
	font-size: 30px;
	margin-top: 30px;
	color: #27ea00
}

.time-unit, .time-unit span{	
	/* make our spans inline-block */
	display: inline-block;
	padding: 10px;
	background-color: #dd1d18;
	border-radius: 5px;
	border: 1px solid #8B4513;
}